<!DOCTYPE html>
<html>
<head>
  <script type = "text/javascript"
     src = "{{ url_for('static', filename = 'jquery-3.3.1.js') }}" ></script>
  <script type = "text/javascript"
     src = "{{ url_for('static', filename = 'validate.js') }}" ></script>
  <title> Upload File to AutoDesk bucket
  </title>
</head>

<body>
    <form enctype="multipart/form-data" method="post" name="fileinfo" id="fileinfo">
      <label>Name of Bucket to upload file at:</label><br/>
      <input type="text" id="bucket_name" name="bucket_name"><br/>
      <label>Name to be kept for file :</label><br/>
      <input type="text" id="file_name" name="file_name"><br/>
      <label>Select File To Upload:</label><br/>
      <input type="file" name="file" required><br/>
      <button type="button" onclick="validate()">Submit</button>
    </form>




  <p id="status_text">

  </p>

</body>
</html>
